
<div class="main-container">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      Wellcome toⅠ♡PET !! <br>
      Pet outing review site.
      <%= link_to "お出かけスポット検索", spots_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>


