
<div class="main-container">

        
    <div class="d-flex align-items-center justify-content-center">
      ようこそⅠ♡PETへ！！<br>
      ここではペットと行けるおでかけスポットなどを検索出来るレビューサイトです。
            <%= link_to "お出かけスポット検索", spots_path %>
    </div>
</div>
  
  
 