<html>
<body>
<head>
<title>TOP</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
 <div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <%= image_tag 'dog.jpg', :size =>'800x400' %>
    </div>
        
    <div class="d-flex align-items-center justify-content-center">
      
      ようこそⅠ♡PETへ！！<br>
      ここではペットと行けるおでかけスポットなどを検索出来るレビューサイトです。
      <div class="d-grid gap-3 col-6 mx-auto">
      <a href="/customers/spot" class="btn btn-primary" role="button" data-bs-toggle="button">お出かけスポット検索</a>
      </div>
    </div>
  </div>

  

