<h3 class="text-center">会員一覧</h3>
<div class="container">
 <table class="table">
  <thead class="table-info">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>口コミ</th>
    </tr>
  </thead>
  
  <tbody>
    <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.name, admin_customer_path(customer) %></td>
      <td><%= customer.comments.count %>件</td>
    </tr>
    <% end %>
  </tbody>
 </table>

<%= paginate @customer %>

</div>