<html>
<body>
<head>
<title>会員一覧</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
</body>
<div class="container">
<h5>会員一覧</h5>
 <table class="table">
  <thead class="table-info">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>口コミ</th>
    </tr>
  </thead>
  
    <tbody>
    <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      
      <td><%= link_to customer.name, admin_customer_path(customer) %></td>
      
      <td><%= customer.comments.count %>件</td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customer %>

</div>