<html>
<body>
<head>
<title>管理者TOPページ</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
</body>


<div class="d-grid gap-3 col-6 mx-auto">
 <a href="/admin/spots/new" class="btn btn-primary" role="button" data-bs-toggle="button">スポット新規登録</a>
 <a href="/admin/genres" class="btn btn-primary" role="button" data-bs-toggle="button">ジャンル登録</a>
 <a href="/admin/customers" class="btn btn-primary" role="button" data-bs-toggle="button">会員一覧</a>
 <a href="/admin/spots" class="btn btn-primary" role="button" data-bs-toggle="button">おでかけスポット一覧</a>
</div>
