@use '~bootstrap/scss/bootstrap';


body {
  padding-top: 56px;
}

.main-container {                         /*public/homes/top*/
  height: calc(100vh - 56px - 112px);
  background: url('../images/top.jpg') center center / cover no-repeat fixed;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;

  color: white;                        /*文字は白に*/
  font-weight: bold;                   /*太字に*/
  font-size: 2em;                      /*サイズ2倍*/
  font-family :Quicksand, sans-serif;  /*Google Font*/
  letter-spacing: 0.1em;               /*文字横幅0.1*/
  line-height: 2.0;                    /*文字上下幅2.0*/
}

.new-container {                /*admin/sessions/new*/
    width: 600px;               /* 幅指定 */
    height: 50px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    margin-top: 200px;
}

.registration-container {       /*public/sessions/new*/
    width: 600px;               /* 幅指定 */
    height: 50px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    margin-top: 200px;
}

.registration-new-container {   /*public/registration/new*/
    width: 600px;               /* 幅指定 */
    height: 50px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    margin-top: 150px;
}

.top-container {                  /*admin/homes/top*/
   height: calc(100vh - 56px - 112px);
   background: url('../images/24049611.png') center center / cover no-repeat fixed;
   margin:  0 auto;
}

.circle1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: skyblue;
  text-align: center;
  line-height: 250px;
}

.circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: pink;
  text-align: center;
  line-height: 250px;
}

.circle3 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: orange;
  text-align: center;
  line-height: 250px;
}

.circle4 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: springgreen;
  text-align: center;
  line-height: 250px;
}

.spot-new-container {              /*admin/spot/new*/
  background: skyblue;
}

.form-group {
  padding: 0px 10px 0px 20px;
}

.actions {
  padding: 0px 10px 10px 20px;
}

.genres-container {
  height: calc(100vh - 56px - 112px);
  background: url('../images/24049611.png') center center / cover no-repeat fixed;
  text-align: center;
  margin:  0 auto;
  padding-top: 150px;
}

.container {
  padding-top: 50px;
}

.mypage-container {
  padding: 30px 100px 100px 100px;
}

.customer-container {
  height: calc(100vh - 56px - 112px);
  background: url('../images/24049611.png') center center / cover no-repeat fixed;
  margin:  0 auto;
  padding-top: 150px;
}

.spot-container {
  padding-top: 150px;
  padding-left: 30px;
  line-height: 35px;
  
}

.nocomment {
  font-weight: bold;                      /*太字に*/
  font-size: 2em;                         /*サイズ2倍*/
  font-family :Quicksand, sans-serif;     /*Google Font*/
  padding-top: 200px;
  line-height: 2.0;
}

.comment {
  font-weight: bold;                       /*太字に*/
  font-size: 2em;                          /*サイズ2倍*/
  font-family :Quicksand, sans-serif;      /*Google Font*/
  text-align: center;
}

.pagination>li>a {                         /*ページネーション*/
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.pagination {
  justify-content: center;
}


.border {
  background: #CCFFFF;
}

.search {
  letter-spacing: 0.2em; 
  
}