@use '~bootstrap/scss/bootstrap';


html,body{
      margin:0;
      padding:0;
    }
    body{
      display:flex;
      flex-direction:column;
      min-height: 100vh;
    }
    header,main,footer{
      padding:0;
      text-align:center;
    }
    main{
      flex: 1;
      background:#fff8f0;
    }
    header{
      background:#F4D06F;
    }
    main p{
      text-align:left;
    }
    footer{
      color:#fff;
      background:#392F5A;
    }